fastapi==0.118.0
google-auth==2.45.0
google-cloud-aiplatform[evaluation]==1.97.0
itsdangerous==2.2.0
jinja2==3.1.6
langchain==1.2.10
langchain-core==1.2.16
langchain-google-genai==4.2.1
markdown==3.7
types-Markdown==3.10.2.20260211
uvicorn[standard]==0.31.0
python-multipart==0.0.22
pytz==2025.1
types-pytz==2025.2.0.20251108
langgraph==1.0.9
pandas-stubs==3.0.0.260204
pandas==3.0.0
pydantic==2.9.0
toolbox-langchain==0.5.9